{% extends 'base.html' %}

{% block title %}
        Tác giả: {{ author.ten_tg }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ author.hinh.url }}" height="500px" width="350px">
            </div>
            <div class="col-sm-8">
                <h1>{{ author.ten_tg }}</h1>
                <p>Sinh năm {{ author.nam_sinh }} tại {{ author.que_quan }}</p>
                <p>

                </p>
                Các thể loại:
                {% for genre in author.the_loai.all %}
                    <a href="{% url 'genre_detail' genre.ma_loai %}">{{ genre.ten_loai }}</a>,
                {% endfor %}
                <br>
            </div>
        </div>
        <hr>
        <p>{{ author.mo_ta }}</p>
        <hr>
        <h2>Sách của {{ author.ten_tg }}</h2>
        <div class="container" style="padding-top:10px; width:100%; height:450px">
            <div class="row">
            {% for book in booklist %}
                <div class="col-sm-4">
                <center>
                    <a href="{% url 'detail' book.ma_sach %}"><img src="{{ book.bia_sach.url }}" class="custom-center" height="350px" width="250px"></a>
                    <a href="{% url 'detail' book.ma_sach %}"><h4 style="width: 250px;">{{ book.ten_sach }}</h4></a>
                </center>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}