{% extends 'base.html' %}

{% block title %}
        Auhthor: {{ author.ten_tg }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ author.hinh.url }}" height="500px" width="350px">
            </div>
            <div class="col-sm-8">
                <h1>{{ author.ten_tg }}</h1>
                <p>Born {{ author.nam_sinh }}, {{ author.que_quan }}</p>
                <p>

                </p>
                {% for genre in genres %}
                    <a href="{% url 'genre_detail' genre.ma_loai %}">{{ genre.ten_loai }}</a>,
                {% endfor %}
                <br>
            </div>
        </div>
    <hr>
        <p>{{ author.mo_ta }}</p>
    </div>
{% endblock %}