{% extends 'base.html' %}

{% block title %}
        Book: {{ book.ten_sach }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ book.bia_sach.url }}" height="500px" width="100%">
            </div>
            <div class="col-sm-8">
                <h1>{{ book.ten_sach }}</h1>
                <h4>
                    Tác giả:
                    {% for author in book.tac_gia.all %}
                        <a href="{% url 'author_profile' author.ma_tg %}">{{ author.ten_tg }}</a>
                        {% if author != book.tac_gia.all.last %}, {% endif %}
              {% endfor %}
                </h4>
                <h4>
                    Thể loại:
                    {% for genre in book.the_loai.all %}
                        <a href="{% url 'genre_detail' genre.ma_loai %}">{{ genre.ten_loai }}</a>
                        {% if genre != book.the_loai.all.last %}, {% endif %}
                    {% endfor %}
                </h4>
                <h4>Hình thức: {{ book.hinh_thuc }}</h4>
                <h4>Số trang: {{ book.so_trang }} pages</h4>
                <h4>ISBN: {{ book.isbn }}</h4>
                <h4>Năm xuất bản: {{ book.namxb }}</h4>
                <h4>Ngôn ngữ: {{ book.ngon_ngu }}</h4>
                <h4>
                    {% if book.phien_ban %}
                        Các phiên bản:
                        {% for book in editions %}
                            <a href="{% url 'detail' book.ma_sach %}">{{ book.ten_sach }}</a>
                            {% if book != editions.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}

                </h4>
                <br>
            </div>
        </div>
        <hr>
        <h4>Chi tiết:</h4>
        <p>{{ book.mo_ta|linebreaks }}</p>
    <hr>
    <div class="row">
        <div class="col-sm-10">
        <h3>Nhận xét:</h3>
            {% for comment in book.nhan_xet.all %}
            <div class="media-body">
                <div class="well well-lg">
                <p>
                    <h4 class="media-heading text-uppercase reviews"> {{ comment.tac_gia.first_name }} {{ comment.tac_gia.last_name }} </h4>
                </p>
                    <ul class="media-date text-uppercase reviews list-inline border-right">
                        <li>{{ comment.ngay_dang }}</li>
                    </ul>
                    <p class="media-comment">
                        {{ comment.noi_dung|linebreaks }}
                    </p>
                </div>
            </div>
            <br>
            {% endfor %}
            {% if user.is_authenticated %}
                <form action="{% url 'detail' book.ma_sach %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleTextarea">Thêm nhận xét</label>
                        <textarea class="form-control" id="noi_dung" name="noi_dung" rows="3" placeholder="Thêm nhận xét"></textarea>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-default" value="Comment"/>
                    <hr>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}