{% extends 'base.html' %}

{% block title %}
        Book: {{ book.ten_sach }}
{% endblock %}

{% block header %}
{{ book.ten_sach }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ book.bia_sach.url }}" height="500px" width="350px">
            </div>
            <div class="col-sm-8">
                <h4>
                    Author:
                    {% for author in book.tac_gia.all %}
                        <a href="{% url 'author_profile' author.ma_tg %}">{{ author.ten_tg }}</a>,
                    {% endfor %}
                </h4>
                <h4>
                    Genre:
                    {% for genre in book.the_loai.all %}
                        <a href="{% url 'genre_detail' genre.ma_loai %}">{{ genre.ten_loai }}</a>,
                    {% endfor %}
                </h4>
                <h4>{{ book.hinh_thuc }}</h4>
                <h4>{{ book.so_trang }} pages</h4>
                <h4>ISBN: {{ book.isbn }}</h4>
                <h4>Published in {{ book.namxb }}</h4>
                <h4>Language: {{ book.ngon_ngu }}</h4>
                <br>
            </div>
        </div>
        <hr>
        <p>{{ book.mo_ta|linebreaks }}</p>
    <hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <h3>Comments:</h3>
            {% for comment in book.nhan_xet.all %}
            <div class="media-body">
                <div class="well well-lg">
                <p>
                    <h4 class="media-heading text-uppercase reviews"> {{ comment.tac_gia.first_name }} {{ comment.tac_gia.last_name }} </h4>
                </p>
                    <ul class="media-date text-uppercase reviews list-inline border-right">
                        <li>{{ comment.ngay_dang }}</li>
                    </ul>
                    <p class="media-comment">
                        {{ comment.noi_dung|linebreaks }}
                    </p>
                </div>
            </div>
            <br>
            {% endfor %}
            {% if user.is_authenticated %}
                <form action="{% url 'detail' book.ma_sach %}" method="post">
                    {% csrf_token %}
                    <p><label>Add comment</label></p>
                    {{ form }}
                    <br>
                    <input type="submit" class="btn btn-default" value="Comment"/>
                    <hr>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}