{% extends 'base.html' %}

{% block title %}
        <title>Book: {{ book.ten_sach }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ book.bia_sach.url }}" height="500px" width="350px">
            </div>
            <div class="col-sm-8">
                <h1>{{ book.ten_sach }}</h1>
                <p>
                    Author:
                    {% for author in authors %}
                        <a href="{% url 'author_profile' author.ma_tg %}">{{ author.ten_tg }}</a>,
                    {% endfor %}
                </p>
                <p>
                    Genre:
                    {% for genre in genres %}
                        <a href="{% url 'genre_detail' genre.ma_loai %}">{{ genre.ten_loai }}</a>,
                    {% endfor %}
                </p>
                <p>{{ book.hinh_thuc }}</p>
                <p>{{ book.so_trang }} pages</p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>Published in {{ book.namxb }}</p>
                <p>Language: {{ book.ngon_ngu }}</p>
                <br>
            </div>
        </div>
        <hr>
        <p>{{ book.mo_ta|linebreaks }}</p>
    <br>
    <h4>Comments:</h4>
    <hr>
    {% for comment in book.nhan_xet.all %}
        <p><strong>{{ comment.tac_gia.first_name }} {{ comment.tac_gia.last_name }}</strong>, {{ comment.ngay_dang }}</p>
        <p>{{ comment.noi_dung|linebreaks }}</p>
        <hr>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'detail' book.ma_sach %}" method="post">
            {% csrf_token %}
            <p><label>Comment: </label></p>
            {{ form.noi_dung }}
            <br>
            <input type="submit" class="btn btn-default" value="Comment"/>
            <hr>
        </form>
    {% endif %}
    </div>
{% endblock %}