{% extends 'base.html' %}

{% block title %}
        Thể loại: {{ genre.ten_loai }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1>{{ genre.ten_loai }}</h1>
                <br>
                <p>{{ genre.mo_ta }}</p>
            </div>
        </div>
    </div>
    <h2>Sách thuộc thể loại {{ genre.ten_loai }}</h2>
        <div class="grid-container">
        {% for book in booklist %}
            <div class="grid-item">
                <center>
                    <a href="{% url 'detail' book.ma_sach %}"><img src="{{ book.bia_sach.url }}" class="custom-center" height="350px" width="250px"></a>
                    <a href="{% url 'detail' book.ma_sach %}"><h4 style="width: 250px;">{{ book.ten_sach }}</h4></a>
                </center>
            </div>
        {% endfor %}
    </div>
{% endblock %}
