{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    Login
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container" style="width:600px;height:600px">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" class="form-control" style="margin-bottom: 10px" placeholder="Username" required="" autofocus="">
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" class="form-control" placeholder="Password" required="" type="password">
            <br>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <hr class="custom">
        </form>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-primary btn-block">Sign in with Google Account</a>
    </div>

{% endblock %}